.mainpage{
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    width: 1280px;
    background-repeat: no-repeat;
}

header{
display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    

}
a{
    text-decoration: none;
    color: #FAFAFA;
    font-family: 'Arial';
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
    color: #FAFAFA;
}

p {
    font-family: 'Georgia';
    color: #F1CDB3;
    font-size: 32px;
}