body{
    display: flex;
    flex-direction: row;
    background-image: url(../assets/start-screen-gradient-background.png);
    width: 1280px;
    background-repeat: no-repeat;
}

p {
    font-family: 'Georgia';
    color: #F1CDB3;
    font-size: 32px;
}