body{
    background-image: url(../assets/start-screen-gradient-background.png);
    width: 1280px;
    background-repeat: no-repeat;
}

header{
display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p {
    font-family: 'Georgia';
    color: #F1CDB3;
    font-size: 32px;
}